.App {
  text-align: center;
}

.Form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 89%;
  margin: 20px;
}

.FormControl {
  display: flex !important;
  flex-direction: row !important;
}

.FormInput {
  flex: 1;
}

.FormButton {
  flex: 0;
}